@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
body {
  
	font-family: "Pretendard Variable", Pretendard,  Arial, sans-serif;
	
}
.wrap{
	width: 900px;
	margin: 0 auto;
}
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
	font-size: 13px;
	
}

.tab-content{
	line-height: 0
}
h2{
	line-height: 28px;
	font-size: 18px;
}
p{
	padding-bottom: 40px;
}
.tab-content p {
	line-height: 24px;
}

.tab-button {
    background-color: #ffece6;
    border: none;
	color: #22222;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
	border-top: 3px solid #ff460a;
}

.tab-button:hover {
    background-color: #ff460a;
	color: #ffffff;
	
}

.tab-button.active {
    background-color: #ff460a;
	color: #ffffff;
}

.tab-content {
    display: none;
    text-align: center;
}

.tab-content.active {
    display: block;
}
